.not-found-container {
  text-align: center;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
}

.brewery-name {
  color: #d84315;
}

.review-card {
  border: 1px solid #ccae88;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff3e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.review-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.review-card:not(:last-child) {
  margin-bottom: 20px;
}

.review-card h5 {
  color: #5d4037;
  margin-bottom: 10px;
}

.review-card p {
  margin: 5px 0;
  color: #6d4c41;
}

.review-card a {
  color: #d84315;
  transition: color 0.3s ease;
}

.review-card a:hover {
  color: #bf360c;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .review-card {
    padding: 10px;
  }
}
